<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="databaseConnection" connectionString="Data Source= 182.50.133.88; Integrated Security=true;Initial Catalog= ph12019819471_; uid=TMSCADB; Password=59Tw!mo7;SSL Mode=None;convert zero datetime=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
  <system.web>
	  <compilation debug="true" targetFramework="4.7.2">
		  <assemblies>
			  <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, 
            PublicKeyToken=cc7b13ffcd2ddd51"/>
		  </assemblies>
	  </compilation>
    <httpRuntime targetFramework="4.7.2" />
  <customErrors mode="Off"></customErrors>
  <trust level="Full" />
  </system.web>
	 <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>